<div *ngIf="score">
    <p *ngIf="score.duration">{{score.duration}}</p>
    extraTime: <app-team-score-infos-info *ngIf="score.extraTime" [teamScoreInfos]="score.extraTime"></app-team-score-infos-info>
    fullTime: <app-team-score-infos-info *ngIf="score.fullTime" [teamScoreInfos]="score.fullTime"></app-team-score-infos-info>
    halfTime: <app-team-score-infos-info *ngIf="score.halfTime" [teamScoreInfos]="score.halfTime"></app-team-score-infos-info>
    penalties: <app-team-penalty-infos-info *ngIf="score.penalties" [teamPenaltyInfos]="score.penalties"></app-team-penalty-infos-info>
    <p *ngIf="score.winner">{{score.winner}}</p>
</div>