/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.extra-left-bottom-margin {
    margin-left: 15px;
    margin-bottom: 15px;
}

.tile-child {
    margin: 5px;
    height: 100%;
    width: 100%;
}

.margin-for-toolbar{
    margin: 70px;
}